# Visual Studio
.vs/
*/.vs/

# Node.js
node_modules/
backend/.env

# Flutter
frontend/.env
frontend/build/
.dart_tool/
.idea/
*.iml

# Markdown & design files
*.md
unimart/
wireframes_extracted/
*.html
backend/uploads/
.claude/